/*
 * ==================== FONT ====================
*/

/* CircularStd @font-face kit */
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Black.eot');
  src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Black.woff') format('woff'),
    url('../fonts/CircularStd-Black.ttf') format('truetype'),
    url('../fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-BlackItalic.eot');
  src: url('../fonts/CircularStd-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CircularStd-BlackItalic.woff') format('woff'),
    url('../fonts/CircularStd-BlackItalic.ttf') format('truetype'),
    url('../fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Bold.eot');
  src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Bold.woff') format('woff'),
    url('../fonts/CircularStd-Bold.ttf') format('truetype'),
    url('../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-BoldItalic.eot');
  src: url('../fonts/CircularStd-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CircularStd-BoldItalic.woff') format('woff'),
    url('../fonts/CircularStd-BoldItalic.ttf') format('truetype'),
    url('../fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Medium.eot');
  src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Medium.woff') format('woff'),
    url('../fonts/CircularStd-Medium.ttf') format('truetype'),
    url('../fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-MediumItalic.eot');
  src: url('../fonts/CircularStd-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CircularStd-MediumItalic.woff') format('woff'),
    url('../fonts/CircularStd-MediumItalic.ttf') format('truetype'),
    url('../fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Book.eot');
  src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Book.woff') format('woff'),
    url('../fonts/CircularStd-Book.ttf') format('truetype'),
    url('../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-BookItalic.eot');
  src: url('../fonts/CircularStd-BookItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CircularStd-BookItalic.woff') format('woff'),
    url('../fonts/CircularStd-BookItalic.ttf') format('truetype'),
    url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 400;
  font-style: italic;
}

/*
 * ==================== COLORS ====================
*/

:root {
  --lightgray: #f1f1f1;
  --darkgray: #3b3b3b;
  --lavender: #9983ee;
  --purple: #5734e3;
  --jade: #479289;
  --emerald: #0d6166;
}

/*
 * ==================== GLOBAL ====================
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background: url('../img/splash-BG-sm.jpg') no-repeat fixed;
  background-size: cover;
  font-family: CircularStd, sans-serif;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: CircularStd, sans-serif;
  font-weight: 500;
  text-transform: lowercase;
}

h1 {
  margin: 2rem 0 2rem 0;
  font-size: 3rem;
  font-weight: 600;
}

a {
  color: var(--darkgray);
  text-transform: lowercase;
  text-decoration: none;
}

a:visited {
  text-transform: lowercase;
  text-decoration: none;
}

a:hover {
  color: var(--lavender);
  text-transform: lowercase;
  text-decoration: none;
}

p {
  text-transform: lowercase;
}

img {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

/*
 * ==================== NAVBAR ====================
*/

#navbar {
  display: flex;
  background-color: whitesmoke;
}
#navbar label {
  display: block;
}
#navbar a {
  display: inline-block;
  margin: 1em;
}
#navbar form div {
  margin: 1em;
  display: inline-block;
}
#nav-brand {
  color: var(--darkgray);
}
#navContainer {
  width: 100%;
  display: flex;
  /* border: 3px solid red; */
  align-items: center;
  margin-right: 1rem;
  justify-content: space-between;
}

#navRight #loggedIn a {
  font-weight: 500;

  /* border: 3px solid blue; */
  padding: 0 0.5rem 0 0.5rem;
  /* display: flex;
  justify-content: space-around; */
}

#navRight #loggedOut a {
  font-weight: 500;
  /* border: 3px solid blue; */
  padding: 0 1rem 0 1rem;
  /* display: flex;
  justify-content: space-around; */
}

/*
 * ==================== DRAWER ====================
*/

#drawerHeader {
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
#drawerTitle {
  color: white;
}
/*
 * ==================== FOOTER ====================
*/

footer {
  width: 100vw;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkgray);
}

/*
 * ==================== HOME PAGE ====================
*/

#home {
  height: 100vh;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}

/*
 * ==================== LOGIN ====================
*/

.authHeading {
  color: var(--darkgray);
}

#loginContainer {
  height: 100vh;
}

#loginSubmit {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-transform: uppercase;
  font-family: CircularStd, sans-serif;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem 0 1rem 0;
}

/*
 * ==================== LOGIN ====================
*/

#signupContainer {
  height: 100vh;
}

#signupSubmit {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-transform: uppercase;
  font-family: CircularStd, sans-serif;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem 0 1rem 0;
}

/*
 * ==================== USER PROFILE ====================
*/

#userHomeContainer {
  width: 80vw;
  height: 100vh;
  margin: auto;
}

#userHome {
  display: flex;
  width: 80vw;
  margin: auto;
}

#userPhoto {
  max-width: 50%;
  height: auto;
}

#userInfoContainer {
  width: 50%;
}

#userInfo {
  display: flex;
}

#userLeft {
  width: 50%;
  border: 3px solid red;
}

#userLeft h4 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

#userRight {
  width: 50%;
  border: 3px solid red;
}

/*
 * ==================== NUTRITION ====================
*/

#nutritionContainer {
  padding: 2rem 4rem 0 4rem;
  height: 100vh;
  background: #02aab0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #00cdac,
    #02aab0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #00cdac,
    #02aab0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*
 * ==================== FITNESS ====================
*/

#fitnessContainer {
  padding: 2rem 5rem 0 5rem;
  height: 100vh;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#addMeasurement {
  width: 300px;
}

#addMeasurementHeader {
  background: var(--lavender);
  letter-spacing: 0.1rem;
  padding: 1rem 0 1rem 1rem;
  /* color: white; */
  /* font-family: CircularStd, sans-serif; */
  font-size: 1rem;
}

#addMeasurementHeader h3 {
  text-transform: uppercase;
}

#addMeasurementContent {
  background: var(--lightgray);
}

#addMeasurementSubmit {
  background: var(--purple);
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0;
}
/*
#addMeasurement h5 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--purple);
} */

/*
 * ==================== NUTRITION ====================
*/

#addFoodHeader {
  background: var(--jade);
  letter-spacing: 0.1rem;
  padding: 1rem 0 1rem 1rem;
  /* color: white; */
  /* font-family: CircularStd, sans-serif; */
  font-size: 1rem;
}

#addFoodHeader h3 {
  text-transform: uppercase;
}

#addFoodContent {
  background: var(--lightgray);
}

#addFoodSubmit {
  background: var(--emerald);
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0;
}

#foodCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: 2em;
  padding: 1em;
  padding-top: 2em;
}
